<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <h1>User Details</h1>
    <p>Name:&nbsp;&nbsp;<span th:text="${name}"></span></p>
    <p>Phone:&nbsp;&nbsp;<span th:text="${phone}"></span></p>
    <p>Email:&nbsp;&nbsp;<span th:text="${email}"></span></p>
    <p>Password:&nbsp;<span th:text="${password}"></span></p>
</body>
</html>